// ***********************************
// SASS Variables

$base-white-color: #ffffff;
$base-white-darker-color: #F7F7F7;
$base-black-ligth-color: #313131;
$download-blue: #1F23EE;
$grey-dark: #525252;
$grey-ligth: #c2d1d9;


// ************************************
// The main Body of the Webpage

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $base-white-color;
}

// ***********************************
// Text Font Sizes


h1 {
    font-size: 3.4vw;
    text-decoration: none;
    color: $base-black-ligth-color;
}

h2 {
    margin: 0;
    font-size: 2.7vw;
    text-decoration: none;
    color: $base-black-ligth-color;
}

h3 {
    font-size: 1.3vw;
    text-decoration: none;
    color: $base-black-ligth-color;
}

// ************************************
// Flexbox Features 


.flexBox-1 {
    display: flex;
    justify-content: center;
}

.flexBox-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexBox-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexBox-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexBox-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexBox-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexBox-7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexBox-8 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flexBox-9 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flexBox-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.flexBox-11 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexBox-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexBox-13 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.flexBox-14 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexBox-15 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flexBox-16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridBox-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}