// ************************************
// All the Imports variables/body/Flexbox/text

@import "allimport.scss";

// ************************************
// Free or Premium

.checkBox {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.sellOptions {
    margin-bottom: 10px;
    text-align: center;
}

.sellOptions p {
    margin: 0;
    font-size: 1em;
}

// Pic on free and premium webpage

.firstDIVPricing {
    background-color: $base-white-darker-color;
}

.freeOrPremiumPICDiv {
    width: 800px;
    height: 530px;
}

.freeIMG {
    width: 260px;
    max-height: auto;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

.premiumIMG {
    width: 480px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

// All the Free and Premium Options

.freeOrPremiumSecondDiv {
    width: 100%;
    min-height: 360px;
    background-color: $base-white-color;
}

.freeOrPremiumDiv {
    width: 800px;
    margin-bottom: 50px;
}

// Free Option

.freeOption {
    width: 260px;
    margin: 0 auto;
}

.freeOption h2 {
    text-align: center;
    margin-bottom: 20px;
}

#freeOptionFont {
    margin: 0;
    text-align: center;
}

.downloadBtnFree {
    width: 260px;
    height: 60px;
    background-color: $base-white-darker-color;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.downloadBtnFree p {
    text-decoration: none;
    font-size: 1.1em;
    color: $grey-dark;
}

// Premium Option

.premiumOption {
    width: 480px;
    margin: 0 auto; 
}

.premiumOption h2 {
    text-align: center;
    margin-bottom: 20px;
}

.downloadBtnPremium { 
    width: 260px;
    height: 60px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: $download-blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.downloadBtnPremium p {
    text-decoration: none;
    font-size: 1.1em;
    color: $base-white-darker-color;
}

// ************************************ 
// Media Queries

// Media from 740px to 999px

@media (max-width: 999px) and (min-width: 740px) {

    .freeOrPremiumDiv {
        width: 660px;
    }

    .freeOrPremiumPICDiv {
        width: 660px;
        height: 400px;
    }

    .freeIMG {
        width: 160px;
    }

    .premiumIMG {
        width: 330px;
    }

    .freeOption {
        width: 160px;
    }

    .downloadBtnFree {
        width: 200px;
        height: 40px;
        border-radius: 20px;
        margin-top: 15px;
    }

    .premiumOption {
        width: 330px;
    }

    .downloadBtnPremium { 
        width: 200px;
        height: 40px;
        border-radius: 20px;
        margin-top: 15px;
    }
   
}

// Mobile until 739px

@media (min-width: 739px) {

    

}

@media (max-width: 739px) {

    .freeOrPremiumDiv {
        width: 90%;
    }

    .freeOrPremiumPICDiv {
        width: 90%;
        height: 250px;
    }

    .freeIMG {
        width: 100px;
        margin: 0 25px 0 auto;
    }

    .premiumIMG {
        width: 180px;
        margin: 0 auto 0 25px;
    }

    h2 {
        font-size: 1.5em !important;
    }

    .freeOption {
        width: 120px;
        margin: 0 25px 0 auto;
    }

    .downloadBtnFree {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        margin-top: 15px;
    }

    .premiumOption {
        width: 160px;
        margin: 0 auto 0 25px;
    }

    .downloadBtnPremium { 
        width: 140px;
        height: 40px;
        border-radius: 20px;
        margin-top: 15px;
    }

    .checkBox {
        width: 20px;
        height: 20px;
    }

    .sellOptions p {
        font-size: 0.9em;
    }

    .downloadBtnFree p {
        font-size: 0.9em;
    }

    .downloadBtnPremium p {
        font-size: 0.9em;
    }

    .freeOption p {
        font-size: 0.9em;
    }

    .FreeOptionsDIV {
        width: 95px;
        text-align: left;
    }
    
    .PremiumOptionsDIV {
        width: 135px;
        text-align: left;
    }
}