body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

h1 {
  font-size: 3.4vw;
  text-decoration: none;
  color: #313131;
}

h2 {
  margin: 0;
  font-size: 2.7vw;
  text-decoration: none;
  color: #313131;
}

h3 {
  font-size: 1.3vw;
  text-decoration: none;
  color: #313131;
}

.flexBox-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexBox-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexBox-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexBox-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexBox-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexBox-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBox-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flexBox-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flexBox-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flexBox-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flexBox-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexBox-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBox-13 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBox-14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexBox-15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flexBox-16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridBox-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.firstPagebox {
  margin: 80px 70px 50px 70px;
  width: auto;
  height: 640px;
  background-color: #F7F7F7;
  border-radius: 26px 26px 26px 26px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firstPageboxLeft {
  width: 50%;
  height: auto;
}

.firstPageboxRight {
  width: 50%;
  height: auto;
}

.divChimpLogo {
  margin: 30px 0 0 60px;
}

.divChimpLogo a {
  margin-left: 10px;
  color: #313131;
  text-decoration: none;
  font-size: 30px;
  left: 55px;
}

#chimpLogo {
  height: 40px;
  margin: 0;
  cursor: pointer;
}

.sloganMainPage {
  width: auto;
  margin: 200px 0 0 60px;
}

.fristBoxDownloadBtn {
  height: 70px;
  width: 270px;
  margin: 80px 0 0 60px;
  background-color: #1F23EE;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.freeDownloadMainPage {
  margin-left: 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.circleChimp {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-color: #ffffff;
  border-radius: 25px;
}

.downloadIconMainPage {
  width: 30px;
}

.firstPageDIVAnimation {
  width: 80%;
}

.chimpOnDesk {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftDIVSecondPage {
  min-width: 55%;
  height: 650px;
  background-color: #F7F7F7;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondBoxDownloadBtn {
  margin-top: 30px;
  height: 70px;
  width: 270px;
  position: relative;
  background-color: #1F23EE;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#textSecondPageFont36 {
  text-align: center;
  margin: 0px;
}

#textSecondPageFont16 {
  text-align: center;
  margin: 0px;
}

.rightDIVSecondPage {
  min-width: 45%;
  height: 650px;
  background-color: #F7F7F7;
  margin: 0px;
}

.rightSideDIVSecondPage {
  width: 70%;
  height: 0;
  padding-bottom: calc(80% * (9 / 16));
  background-color: cadetblue;
}

.thirdPageMainDIV {
  width: 100%;
  height: 350px;
  background-color: #525252;
}

.thirdPageMainDIV h2 {
  color: #F7F7F7;
}

.fourthPageMainDIV {
  width: 100%;
  height: 966px;
  background-color: #ffffff;
}

.DIVBoxBenefitsOfChimp {
  width: 80%;
  height: 740px;
  background-color: #F7F7F7;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headingOfPagefour {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divOfBenefits {
  width: 100%;
  height: 90%;
}

.blogDivOfBenefits {
  margin: 15px;
  border: 1px solid #c2d1d9;
  border-radius: 2px;
  width: auto;
  height: auto;
}

.blogDivOfBenefits img {
  width: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.fifthPageMainDIV {
  width: 100%;
  height: 750px;
  background-color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appleEcoSystemSlogan {
  width: 80%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appleEcoSystemSlogan h2 {
  margin-bottom: 70px;
  text-align: center;
  color: #F7F7F7;
}

.appleEcoSystemPic {
  width: 60%;
  height: auto;
}

.fifthPageMainDIV img {
  width: 100%;
  border-radius: 8px;
}

.sexthPageMainDIV {
  width: 100%;
  height: 550px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ChimpSloganSexthPage {
  width: 80%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ChimpSloganSexthPage h2 {
  font-size: 3vw;
  text-align: center;
  color: #525252;
}

.ChimpPicSexthPage {
  width: 20%;
  height: auto;
  margin-bottom: 10px;
}

.ChimpPicSexthPage img {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 999px) and (min-width: 740px) {
  .firstPagebox {
    height: 440px;
  }
  .firstPageboxLeft {
    height: 100%;
  }
  .firstPageboxRight {
    height: 100%;
  }
  .divChimpLogo {
    margin: 30px 0 0 40px;
  }
  .sloganMainPage {
    margin: 90px 0 0 40px;
  }
  .fristBoxDownloadBtn {
    height: 50px;
    width: 200px;
    margin: 70px 0 0 40px;
    border-radius: 25px;
  }
  .freeDownloadMainPage {
    margin-left: 13px;
    font-size: 16px;
  }
  .circleChimp {
    margin-left: 13px;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }
  .downloadIconMainPage {
    width: 20px;
  }
  .secondBoxDownloadBtn {
    height: 50px;
    width: 200px;
    border-radius: 25px;
  }
  .leftDIVSecondPage {
    min-width: 50%;
    height: 400px;
  }
  .rightDIVSecondPage {
    min-width: 50%;
    height: 400px;
  }
  .thirdPageMainDIV {
    height: 250px;
  }
  .fifthPageMainDIV {
    height: 500px;
  }
  .fourthPageMainDIV {
    height: 1300px;
  }
  .DIVBoxBenefitsOfChimp {
    height: 1070px;
  }
  .gridBox-1 {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    -ms-grid-rows: 1fr 1fr 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
  }
  .sexthPageMainDIV {
    height: 350px;
  }
}

@media (min-width: 739px) {
  .firstPageDIVAnimationLeftMobile {
    visibility: hidden;
  }
  .chimpOnDeskLeftMobile {
    display: none;
  }
}

@media (max-width: 739px) {
  .firstPagebox {
    height: auto;
    margin: 50px 30px 50px 30px;
  }
  .firstPageboxLeft {
    width: 100%;
  }
  .firstPageDIVAnimation {
    width: 200px;
  }
  .divChimpLogo {
    margin: 30px auto;
  }
  .flexBox-15 {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  h1 {
    font-size: 1.5em !important;
  }
  .sloganMainPage {
    margin: 30px auto;
    text-align: center;
  }
  .firstPageDIVAnimationLeftMobile {
    width: 200px;
    margin: 30px auto;
  }
  .chimpOnDeskLeftMobile {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .fristBoxDownloadBtn {
    height: 50px;
    width: 200px;
    margin: 30px auto;
    border-radius: 25px;
  }
  .freeDownloadMainPage {
    margin: 0 15px 0 13px;
    font-size: 16px;
  }
  .circleChimp {
    margin-left: 13px;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }
  .downloadIconMainPage {
    width: 20px;
  }
  .chimpOnDesk {
    display: none;
  }
  .firstPageboxRight {
    visibility: hidden;
  }
  h2 {
    font-size: 1.3em !important;
    margin: 30px auto 10px auto !important;
  }
  h3 {
    font-size: 0.8em !important;
  }
  .leftDIVSecondPage {
    min-width: 100%;
    height: auto;
  }
  .secondBoxDownloadBtn {
    height: 50px;
    width: 200px;
    margin: 30px auto;
    border-radius: 25px;
  }
  .rightDIVSecondPage {
    height: 0px;
    width: 0px;
    visibility: hidden;
  }
  .rightSideDIVSecondPage {
    display: none;
  }
  .thirdPageMainDIV {
    height: 300px;
  }
  .thirdPageSlogan {
    text-align: center;
    max-width: 280px;
  }
  .headingOfPagefour h2 {
    text-align: center;
  }
  .fourthPageMainDIV {
    height: 2300px;
  }
  .DIVBoxBenefitsOfChimp {
    height: 2060px;
  }
  .gridBox-1 {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
  .fifthPageMainDIV {
    height: 400px;
  }
  .appleEcoSystemSlogan {
    margin: 0 auto 10px auto;
    width: 90%;
  }
  .sexthPageMainDIV {
    height: 400px;
  }
  .ChimpPicSexthPage {
    width: 150px;
  }
  .ChimpSloganSexthPage {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */