// ************************************
// All the Imports variables/body/Flexbox/text

@import 'allimport.scss';

// ************************************
// 1. Page of Homepage 

.firstPagebox {
    margin: 80px 70px 50px 70px;
    width: auto;
    height: 640px;
    background-color: $base-white-darker-color;
    border-radius: 26px 26px 26px 26px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firstPageboxLeft {
    width: 50%;
    height: auto;
}

.firstPageboxRight {
    width: 50%;
    height: auto;
}

// Logo and Placement 

.divChimpLogo {
    margin: 30px 0 0 60px;
}

.divChimpLogo a {
    margin-left: 10px;
    color: $base-black-ligth-color;
    text-decoration: none;
    font-size: 30px;
    left: 55px;
}

#chimpLogo {
    height: 40px;
    margin: 0;
    cursor: pointer;
}

.sloganMainPage {
    width: auto;
    margin: 200px 0 0 60px;
}

// Download Btn 

.fristBoxDownloadBtn {
    height: 70px;
    width: 270px;
    margin: 80px 0 0 60px;
    background-color: $download-blue;
    border-radius: 40px 40px 40px 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.freeDownloadMainPage {
    margin-left: 15px;
    color: $base-white-color;
    text-decoration: none;
    font-size: 20px;
}

// Download Icon 

.circleChimp {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-color: $base-white-color;
    border-radius: 25px;
}

.downloadIconMainPage {
    width: 30px;
}

// Animation on mainpage 

.firstPageDIVAnimation {
    width: 80%;
}

.chimpOnDesk {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// ***********************************************
// Second Page of the main page


.leftDIVSecondPage {
    min-width: 55%;
    height: 650px;
    background-color: $base-white-darker-color;
    margin: 0px;
    flex-direction: column;
}

.secondBoxDownloadBtn {
    margin-top: 30px;
    height: 70px;
    width: 270px;
    position: relative;
    background-color: $download-blue;
    border-radius: 40px 40px 40px 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#textSecondPageFont36 {
    text-align: center;
    margin: 0px;
}

#textSecondPageFont16 {
    text-align: center;
    margin: 0px;
}

.rightDIVSecondPage {
    min-width: 45%;
    height: 650px;
    background-color: $base-white-darker-color;
    margin: 0px;
}

.rightSideDIVSecondPage {
    width: 70%;
    height: 0;
    padding-bottom: calc(80% * (9 / 16));
    background-color: cadetblue;
}


// ***********************************************
// Third Page of the main page


.thirdPageMainDIV {
    width: 100%;
    height: 350px;
    background-color: $grey-dark;
}

.thirdPageMainDIV h2 {
    color: $base-white-darker-color;
}


// ***********************************************
// Fourth Page of the main page


.fourthPageMainDIV {
    width: 100%;
    height: 966px;
    background-color: $base-white-color;
}

.DIVBoxBenefitsOfChimp {
    width: 80%;
    height: 740px;
    background-color: $base-white-darker-color;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
}

.headingOfPagefour {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divOfBenefits {
    width: 100%;
    height: 90%;
}

.blogDivOfBenefits {
    margin: 15px;
    border: 1px solid $grey-ligth;
    border-radius: 2px;
    width: auto;
    height: auto;
    // padding-bottom: 33%;
}

.blogDivOfBenefits img {
    width: 50%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

// ***********************************************
// Fifth Page of the main page


.fifthPageMainDIV {
    width: 100%;
    height: 750px;
    background-color: $grey-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appleEcoSystemSlogan {
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.appleEcoSystemSlogan h2 {
    margin-bottom: 70px;
    text-align: center;
    color: $base-white-darker-color;
}

.appleEcoSystemPic {
    width: 60%;
    height: auto;
}

.fifthPageMainDIV img {
    width: 100%;
    border-radius: 8px;
}

// ***********************************************
// Sexth Page of the main page

.sexthPageMainDIV {
    width: 100%;
    height: 550px;
    background-color: $base-white-darker-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChimpSloganSexthPage {
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.ChimpSloganSexthPage h2 {
    font-size: 3vw;
    text-align: center;
    color: $grey-dark;
}

.ChimpPicSexthPage {
    width: 20%;
    height: auto;
    margin-bottom: 10px;
}

.ChimpPicSexthPage img {
    width: 100%;
    border-radius: 8px;
}

// ************************************ 
// Media Queries

// Media from 740px to 999px

@media (max-width: 999px) and (min-width: 740px) {

    // ************************************
    // 1. Page of Homepage 

    .firstPagebox {
        height: 440px;
    }

    .firstPageboxLeft {
        height: 100%;
    }

    .firstPageboxRight {
        height: 100%;
    }

    .divChimpLogo {
        margin: 30px 0 0 40px;
    }

    // Slogan on the main page

    .sloganMainPage {
        margin: 90px 0 0 40px;
    }

    // Download Btn 

    .fristBoxDownloadBtn {
        height: 50px;
        width: 200px;
        margin: 70px 0 0 40px;
        border-radius: 25px;
    }

    .freeDownloadMainPage {
        margin-left: 13px;
        font-size: 16px;
    }

    .circleChimp {
        margin-left: 13px;
        width: 35px;
        height: 35px;
        border-radius: 17.5px;
    }

    .downloadIconMainPage {
        width: 20px;
    }

    // ************************************
    // 2. Page of Homepage 

    .secondBoxDownloadBtn {
        height: 50px;
        width: 200px;
        border-radius: 25px;
    }

    .leftDIVSecondPage {
        min-width: 50%;
        height: 400px;
    }
    
    .rightDIVSecondPage {
        min-width: 50%;
        height: 400px;
    }

    // ************************************
    // 3. Page of Homepage 

    .thirdPageMainDIV {
        height: 250px;
    }

    // ************************************
    // 5. Page of Homepage 

    .fifthPageMainDIV {
        height: 500px;
    }

    // ************************************
    // 4. Page of Homepage 

    .fourthPageMainDIV {
        height: 1300px;
    }
    
    .DIVBoxBenefitsOfChimp {
        height: 1070px;
    }

    .gridBox-1 {
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
    }

    // ************************************
    // 5. Page of Homepage 

    .sexthPageMainDIV {
        height: 350px;
    }

}

// Mobile until 739px

@media (min-width: 739px) {

    .firstPageDIVAnimationLeftMobile {
        visibility: hidden;
    }

    .chimpOnDeskLeftMobile {
        display: none;
    }

}

@media (max-width: 739px) {

    // ************************************
    // 1. Page of Homepage 
    // Left side

    .firstPagebox {
        height: auto;
        margin: 50px 30px 50px 30px;
    }

    .firstPageboxLeft {
        width: 100%;
    }

    .firstPageDIVAnimation {
        width: 200px;
    }

    .divChimpLogo {
        margin: 30px auto;
    }

    .flexBox-15 {
        justify-content: center !important;
    }

    h1 {
        font-size: 1.5em !important; 
    }

    .sloganMainPage {
        margin: 30px auto;
        text-align: center;
    }

    // Pic Chimp on desk left side

    .firstPageDIVAnimationLeftMobile {
        width: 200px;
        margin: 30px auto;
    }
    
    .chimpOnDeskLeftMobile {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    // Download Btn 

    .fristBoxDownloadBtn {
        height: 50px;
        width: 200px;
        margin: 30px auto;
        border-radius: 25px;
    }

    .freeDownloadMainPage {
        margin: 0 15px 0 13px;
        font-size: 16px;
    }

    .circleChimp {
        margin-left: 13px;
        width: 35px;
        height: 35px;
        border-radius: 17.5px;
    }

    .downloadIconMainPage {
        width: 20px;
    }

    // Rigth side

    .chimpOnDesk {
        display: none;
    }

    .firstPageboxRight {
        visibility: hidden;
    }

    // ************************************
    // 2. Page of Homepage 
    // Left side

    h2 {
        font-size: 1.3em !important;
        margin: 30px auto 10px auto !important;
    }

    h3 {
        font-size: 0.8em !important;
    }

    .leftDIVSecondPage {
        min-width: 100%;
        height: auto;
    }

    // Download btn

    .secondBoxDownloadBtn {
        height: 50px;
        width: 200px;
        margin: 30px auto;
        border-radius: 25px;
    }

    // Rigth side

    .rightDIVSecondPage {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }

    .rightSideDIVSecondPage {
        display: none;
    }

    // ************************************
    // 3. Page of Homepage 

    .thirdPageMainDIV {
        height: 300px;
    }

    .thirdPageSlogan {
        text-align: center;
        max-width: 280px;
    }

    // ************************************
    // 4. Page of Homepage 

    .headingOfPagefour h2 {
        text-align: center;
    }

    .fourthPageMainDIV {
        height: 2300px;
    }
    
    .DIVBoxBenefitsOfChimp {
        height: 2060px;
    }

    .gridBox-1 {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }

    // ************************************
    // 5. Page of Homepage 
    
    .fifthPageMainDIV {
        height: 400px;
    }

    .appleEcoSystemSlogan {
        margin: 0 auto 10px auto;
        width: 90%;
    }

    // ************************************
    // 5. Page of Homepage 

    .sexthPageMainDIV {
        height: 400px;
    }

    .ChimpPicSexthPage {
        width: 150px;
    }

    .ChimpSloganSexthPage {
        width: 90%;
    }


}