body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.4vw;
  text-decoration: none;
  color: #313131;
}

h2 {
  margin: 0;
  font-size: 2.5vw;
  text-decoration: none;
  color: #313131;
}

h3 {
  font-size: 1.3vw;
  text-decoration: none;
  color: #313131;
}

.socialMediaIcons {
  height: 135px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  position: fixed;
  margin-left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.socialIcon {
  width: 30px;
  cursor: pointer;
}

.flexBox-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexBox-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexBox-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexBox-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexBox-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexBox-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBar {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  background-color: #F7F7F7;
  position: fixed;
}

.divChimpLogoNavigationBar {
  position: relative;
  margin-left: 20px;
}

.divChimpLogoNavigationBar a {
  color: #313131;
  text-decoration: none;
  font-size: 30px;
  left: 56px;
}

.chimpIconNavigationBar {
  height: 40px;
  margin-right: 15px;
}

.divNavigationBarTools {
  width: 480px;
  margin-right: 20px;
}

.divNavigationBarTools a {
  text-decoration: none;
  color: #313131;
  font-size: 1.2em;
}

.downloadNavBar {
  width: 140px;
  height: 40px;
  background-color: #1F23EE;
  border-radius: 20px;
}

.downloadNavBar p {
  color: #F7F7F7;
  position: relative;
}

.firstPagebox {
  margin: 80px 70px 50px 70px;
  width: auto;
  height: 640px;
  background-color: #F7F7F7;
  border-radius: 26px 26px 26px 26px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firstPageboxLeft {
  width: 50%;
  height: 100%;
}

.firstPageboxRight {
  width: 50%;
  height: 100%;
}

#divChimpLogo {
  position: relative;
  top: 30px;
  left: 60px;
}

#divChimpLogo a {
  position: absolute;
  color: #313131;
  text-decoration: none;
  font-size: 30px;
  left: 55px;
}

#chimpLogo {
  height: 40px;
  position: absolute;
  cursor: pointer;
}

#sloganMainPage {
  width: 540px;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 43%;
  left: 60px;
  margin: 0px 0px 0px 0px;
}

#fristBoxDownloadBtn {
  height: 70px;
  width: 270px;
  position: relative;
  left: 60px;
  top: 300px;
  background-color: #1F23EE;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.freeDownloadMainPage {
  color: white;
  text-decoration: none;
  position: absolute;
  float: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 75px;
  font-size: 20px;
}

.circleChimp {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  background-color: white;
  border-radius: 50px 50px 50px 50px;
}

.downloadIconMainPage {
  position: absolute;
  width: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.firstPageDIVAnimation {
  width: 80%;
}

#chimpOnDesk {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scrollerSidePage {
  height: 50px;
  width: 30px;
  margin-right: 25px;
  right: 0px;
  position: fixed;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.scrollerLineShort {
  margin: 0px 0px 10px 0px;
  width: 15px;
  height: 1px;
  background-color: yellowgreen;
}

.scrollerLineLong {
  margin: 0px 0px 10px 0px;
  width: 30px;
  height: 1px;
  background-color: yellowgreen;
}

.leftDIVSecondPage {
  min-width: 60%;
  height: 650px;
  background-color: #F7F7F7;
  margin: 0px 0px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#secondBoxDownloadBtn {
  margin-top: 30px;
  height: 70px;
  width: 270px;
  position: relative;
  background-color: #1F23EE;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#textSecondPageFont36 {
  text-align: center;
  margin: 0px 0px 0px 0px;
}

#textSecondPageFont16 {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.rightDIVSecondPage {
  min-width: 40%;
  height: 650px;
  background-color: #F7F7F7;
  margin: 0px 0px 0px 0px;
}

.rightSideDIVSecondPage {
  width: 80%;
  height: 0;
  padding-bottom: calc(80% * (9 / 16));
  background-color: cadetblue;
}

#thirdPageMainDIV {
  width: 100%;
  height: 450px;
  background-color: #525252;
}

#thirdPageMainDIV h2 {
  color: #F7F7F7;
}

.fourthPageMainDIV {
  width: 100%;
  height: 966px;
  background-color: #ffffff;
}

.DIVBoxBenefitsOfChimp {
  width: 80%;
  height: 840px;
  background-color: #F7F7F7;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headingOfPagefour {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogDivOfBenefits {
  position: relative;
  margin: 0;
  border: 1px solid #c2d1d9;
  border-radius: 2px;
  width: calc((100% / 3) - 30px);
  height: 0;
  padding-bottom: 33%;
}

.blogDivOfBenefits img {
  width: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.fifthPageMainDIV {
  width: 100%;
  height: 750px;
  background-color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appleEcoSystemSlogan {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appleEcoSystemSlogan h2 {
  margin-bottom: 70px;
  text-align: center;
  color: #F7F7F7;
}

.appleEcoSystemPic {
  width: 60%;
  height: auto;
}

.fifthPageMainDIV img {
  width: 100%;
  border-radius: 8px;
}
/*# sourceMappingURL=styles.css.map */